/*-------------VARIABLES-------------*/
$mainBlue: #27afef;
$mainOrange: #fcbf32;

$lightestPurple: #CEA5EE;
$lightPurple: #AF73DD;
$mainPurple: #9b4dca;
$darkPurple: #7D30B8;
$darkestPurple: #650DA8;

$lightYellow: #FFFCAB;
$mainYellow: #FFFA58;
$darkYellow: #FAF303;

$contrastGreen: #A0EA03;

/*-----------------------------------*\
NORMALIZE STUFF
\*-----------------------------------*/
* {margin: 0;padding: 0; box-sizing: border-box;}

@import "style/typography";

body{ background-image: url("
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQIW2NkYGAwBuKzQAwGjFBaEkg/RxYAscGCMBUwHQwAd4IDBdrsmYMAAAAASUVORK5CYII=
  ")
}

img.centered, .aligncenter, div.aligncenter{
  display:block;
  margin: 0 auto;
}

.content {
  overflow: visible;
}

.alignleft{ float: left; }

.alignright{ float: right; }

.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #d4d4d4;
  padding-top: 4px;
  margin: 10px;

  img {
    margin: 0;
    padding: 0;
    border: 0 none;
  }
  p.wp-caption-text {
    font-size: 0.85em;
    line-height:  1.214em;
    padding: 0 4px 5px;
    margin: 0;
  }
}

/* ------------------------------------------ *\
GLOBAL STYLINGS
\*------------------------------------------- */

.container {
  overflow: auto;
}

a { text-decoration: none;}

a:link {
  color: $darkPurple;
  transition: all 0.2s ease;
}

a:visited { color: $lightPurple; }

a:hover,{
  color: $contrastGreen;
  transition: color 0.2s linear;
}

a:active { color: #f39c12; }

/*.pullDown a:link,*/
a:visited#pull,
.force-darkgrey a:link,
.force-darkgrey a:visited,
.force-darkgrey a:hover,
.force-darkgrey a:active {
  color: #555;
}

.force-white a:link,
.force-white a:visited,
.force-white a:hover,
.force-white a:active {
  color: #fff;
}

img {
  max-width: 100%;
  height:auto;
}

.seperator{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  margin-bottom: 20px;
}

.seperatorRight {
  float: right;
  height: 8px;
  width: 8px;
  background-color: #dbdbdb;
  margin-top: -8px;
}

.hover-margin { margin:2px; }

.containerBackground{ background-color: #fff; }


@import "style/header";


/* ------------------------------------------ *\
CONTENT
\*------------------------------------------- */

.in-your-face {
  text-align: center;
  color: #666;
  overflow: visible;
  margin-bottom: 40px;
}

.content-block {
  margin-bottom: 1.5em;
}

.content ul{
  list-style-position: inside;
}

.slider ul{
  list-style: none;
  text-align: center;
}

.postImage{
  border: 2px solid $mainBlue;
  padding: 5px;
}


@media screen and (max-width: 720px) {
  .content {
    margin-top: 90px;
  }
}

/* ------------------------------------------ *\
BLOG
\*------------------------------------------- */

@mixin awesomeLinkIcon($icon){
  font-family: FontAwesome;
  content: $icon;
  display: inline-block;
  padding-left: 2px;
}

.blog-content [href$=".pdf"]:after{
  @include awesomeLinkIcon("\f1c1");
}

.blog-content [href^="http://twitter"]:after,
.blog-content [href^="https://twitter"]:after{
  @include awesomeLinkIcon("\f099");
}

.blog-content [href^="http://www.youtube"]:after,
.blog-content [href^="https://www.youtube"]:after,
.blog-content [href^="http://youtube"]:after,
.blog-content [href^="https://youtube"]:after{
  @include awesomeLinkIcon("\f16a");
}

.single-portfolio .content [href^="http://github"]:after,
.single-portfolio .content [href^="https://github"]:after,
.blog-content [href^="http://github"]:after,
.blog-content [href^="https://github"]:after{
  @include awesomeLinkIcon("\f09b");
}

.blog-archive-item {
  margin-bottom: 20px;
  display: inline-block;

  ul{
    list-style: circle inside none;
    margin-left: 20px;
  }

  blockquote{
    border-left: 10px solid $mainBlue;
    border-right: 10px solid $mainBlue;
    margin-left:0;
    margin-right: 0;
    margin-bottom: 30px;
    padding: 0 40px;
    background: linear-gradient(to right, rgba(0,0,0,0.1), transparent 60%);

    p{
      margin-bottom: 0;
      padding:10px 0 10px 0;
    }

    cite{
      color:#99918E;
    }
  }
}

.post-image {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.blog-content {
  img {
    padding: 5px; 
    border: solid 1px #EFEFEF;
    border-radius:5px;
  }
}

.post-meta {
  display: inline-block;
  margin-top: 20px;
}

.previous-post { float: left; }

.next-post { float: right; }

.blog-image {
  padding: 15px;
  border: 1px solid #c2c2c9;
  margin-bottom: 20px;
}

.post-info {
  display: block;
  clear:both;
  margin-bottom: 0.5em;
  font-weight: 200;
  font-style: italic;
  color: #ccc;
}

.blog-snippet {
  margin-bottom: 2em;
}


@import "style/contact";

/* ------------------------------------------ *\
ELEMENT STYLINGS
\*------------------------------------------- */

.post-readmore {
  margin-top: 15px;
  overflow: visible;
}

.button-blue{
  color: #fff;
  background-color: $mainBlue;
  border-color: darken( $mainBlue, 10% );
}

.button-blue:visited,
.button-blue:link{
  color: #fff;
  background-color: $mainBlue;
}

.button-blue:hover {
  color: #fff;
  background-color: $mainBlue;
  border-color: lighten( $mainBlue, 20% );
}

.button-wrap {
  margin: 1em 0;
}

@import "style/footer.scss";

/* ------------------------------------------ *\
MISC
\*------------------------------------------- */

.FAageSocialIcons{

  a{
    color:#fff;
    font-size: 20px;
    padding: 10px;
    line-height: 40px;
  }
  ul{
    margin-left: 0;

    li{
      display: inline-block;
      height:40px;
      width:40px;
      margin-right: 5px;
      transition: background-color 0.7s ease;
      background-color: #C1C0C0;
      border-radius: 3px;
    }
  }
}

.twitter:hover{
  transition: background-color 0.5s ease;
  background-color: #00aced;
}

.github:hover{
  transition: background-color 0.5s ease;
  background-color: #000;
}

.googlePlus:hover{
  transition: background-color 0.5s ease;
  background-color: #d34836;
}

.linkedIn:hover{
  transition: background-color 0.5s ease;
  background-color: #0e76a8;
}

.forceLink{
  a{ padding: auto; }
}

.blog-post h1 {
  margin-bottom: 5px;
}

.micro-about img {
  float: left;
  border-radius: 45px;
  margin-right: 20px;
}

.column.micro-about {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 1.5em;
  margin-bottom: 1em;

  &:after {
    clear: both;
  }

  p {
    margin-bottom: 0;
  }
}

.pagination {
  max-width: 400px;
  margin: 0 auto;

  &:after {
    clear:both;
    margin-bottom: 20px;
  }

  .previous-post {
    float: left;
  }

  .next-post {
    float: right;
  }
}

.content {
  overflow: inherit;
}

.blog-item-wrap {
  display: block;

  h2{
    margin-bottom: 10px;
  }
}

.blog-content img {
  float: right;
}

.sd-title {
  display: none;
}

@media screen and (max-width: 720px) {
  .blog-content img {
    float: none;
  }
}

.post-tag {
  font-family: Helvetica, Arial, sans-serif;
  background: #588fe5;
  display: inline-block;
  color: #fff;
  position: relative;
  padding: 7px 14px;
  border-radius: 4px;
  margin: 0 0 0 15px;
  cursor: auto;
}

.post-tag:hover:after {
  border-color: transparent transparent transparent #739fe4;
}

li a.social-icon,
a#pull {
  font-family: FontAwesome;
}

a.social-github:before {
  content: "\f09b";
}

a.social-twitter:before {
  content: "\f099";
}

a.social-google:before {
  content: "\f0d5";
}

a.social-linkedin:before {
  content: "\f0e1";
}

a#pull:before {
  content: "\f0c9";
  font-size:3em
}

@media screen and (max-width: 720px){
  .post-tag {
    margin-bottom: 9px;
  }
}

.home-blog {
  margin-bottom: 30px;

  img {
    max-width: 140px;
    float: right;
    margin-left: 15px;
  }
}

pre code {
  border: 1px solid $lightestPurple;
  border-left: none;
  margin-left: 0;
  background-color: white;
}

@import "style/portfolio";

@media screen and (max-width: 40rem) {
  .row div.column.column-75,
  .row div.column.column-66 {
    max-width: 100%;
  }
}
