@charset "UTF-8";
/*-------------VARIABLES-------------*/
/*-----------------------------------*NORMALIZE STUFF
\*-----------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ------------------------------------------ *TYPOGRAPHY
Works off the assumption of a 1.5 line height @ 20px.
\*------------------------------------------- */
body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco","Oxygen", "Ubuntu", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-image: url("\a   data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAI0lEQVQIW2NkYGAwBuKzQAwGjFBaEkg/RxYAscGCMBUwHQwAd4IDBdrsmYMAAAAASUVORK5CYII=\a   "); }

img.centered, .aligncenter, div.aligncenter {
  display: block;
  margin: 0 auto; }

.content {
  overflow: visible; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #d4d4d4;
  padding-top: 4px;
  margin: 10px; }
  .wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    line-height: 1.214em;
    padding: 0 4px 5px;
    margin: 0; }

/* ------------------------------------------ *GLOBAL STYLINGS
\*------------------------------------------- */
.container {
  overflow: auto; }

a {
  text-decoration: none; }

a:link {
  color: #7D30B8;
  transition: all 0.2s ease; }

a:visited {
  color: #AF73DD; }

a:hover {
  color: #A0EA03;
  transition: color 0.2s linear; }

a:active {
  color: #f39c12; }

/*.pullDown a:link,*/
a:visited#pull,
.force-darkgrey a:link,
.force-darkgrey a:visited,
.force-darkgrey a:hover,
.force-darkgrey a:active {
  color: #555; }

.force-white a:link,
.force-white a:visited,
.force-white a:hover,
.force-white a:active {
  color: #fff; }

img {
  max-width: 100%;
  height: auto; }

.seperator {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  margin-bottom: 20px; }

.seperatorRight {
  float: right;
  height: 8px;
  width: 8px;
  background-color: #dbdbdb;
  margin-top: -8px; }

.hover-margin {
  margin: 2px; }

.containerBackground {
  background-color: #fff; }

/* ------------------------------------------ *HEADER & NAVIGATION
\*------------------------------------------- */
header {
  margin-top: 10px; }

.activeLink,
.current-menu-item > a,
.current-menu-ancestor > a,
.current_page_parent > a,
.current_page_item > a,
.current_page_ancestor > a,
body.post-type-archive-portfolio nav ul li#menu-item-124 > a,
body.single-portfolio nav ul li#menu-item-124 > a {
  border-bottom: 2px solid #fcbf32; }

.menu-menu-1-container a:link {
  transition: all 0.2s ease; }

.menu-menu-1-container a:hover,
body.post-type-archive-portfolio nav ul li#menu-item- > a:hover,
body.single-portfolio nav ul li#menu-item-21 > a:hover {
  border-bottom: 5px solid #9b4dca;
  transition: all 0.2s ease; }

.menu-menu-1-container a:active {
  border-bottom: 5px solid #f39c12; }

body.single-portfolio nav ul li#menu-item-21 > a,
body.post-type-archive-portfolio nav ul li#menu-item-21 > a {
  border-bottom: 0; }

nav {
  float: right;
  margin-top: 35px;
  z-index: 999; }
  nav a {
    padding: 10px 15px;
    color: #555; }
  nav li {
    display: inline-block; }

#toggle-menu {
  display: none;
  z-index: 1; }

.menu {
  display: block; }

.small-screen-nav {
  display: inherit; }

@media screen and (max-width: 720px) {
  #toggle-menu {
    display: inherit;
    margin-top: -60px; }
    #toggle-menu li {
      float: right;
      list-style-type: none; }
    #toggle-menu li:after {
      clear: both; }
    #toggle-menu ul {
      width: 40px; }
      #toggle-menu ul li {
        float: right;
        width: 50px;
        background-color: #fff; }
  .menu {
    display: none; }
    .menu li {
      width: 50%;
      float: left;
      position: relative;
      min-height: 40px;
      background-color: #27afef;
      text-align: center;
      padding-top: 10px; }
    .menu a {
      width: 100%;
      padding: 0px;
      color: #fff; }
  nav {
    margin-top: 35px;
    height: auto;
    position: absolute;
    background-color: #27afef; }
    nav ul {
      margin-bottom: 0;
      display: list-item;
      width: 100%;
      height: auto;
      background-color: #27afef;
      z-index: 10; } }

@media screen and (max-width: 340px) {
  #logoImage {
    width: 200px !important; }
  .menu li {
    width: 100%; } }

/* ------------------------------------------ *CONTENT
\*------------------------------------------- */
.in-your-face {
  text-align: center;
  color: #666;
  overflow: visible;
  margin-bottom: 40px; }

.content-block {
  margin-bottom: 1.5em; }

.content ul {
  list-style-position: inside; }

.slider ul {
  list-style: none; }

.postImage {
  border: 2px solid #27afef;
  padding: 5px; }

@media screen and (max-width: 720px) {
  .content {
    margin-top: 90px; } }

/* ------------------------------------------ *BLOG
\*------------------------------------------- */
.blog-content [href$=".pdf"]:after {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  padding-left: 2px; }

.blog-content [href^="http://twitter"]:after,
.blog-content [href^="https://twitter"]:after {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  padding-left: 2px; }

.blog-content [href^="http://www.youtube"]:after,
.blog-content [href^="https://www.youtube"]:after,
.blog-content [href^="http://youtube"]:after,
.blog-content [href^="https://youtube"]:after {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  padding-left: 2px; }

.single-portfolio .content [href^="http://github"]:after,
.single-portfolio .content [href^="https://github"]:after,
.blog-content [href^="http://github"]:after,
.blog-content [href^="https://github"]:after {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  padding-left: 2px; }

.blog-archive-item {
  margin-bottom: 20px;
  display: inline-block; }
  .blog-archive-item ul {
    list-style: circle inside none;
    margin-left: 20px; }
  .blog-archive-item blockquote {
    border-left: 10px solid #27afef;
    border-right: 10px solid #27afef;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    padding: 0 40px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent 60%); }
    .blog-archive-item blockquote p {
      margin-bottom: 0;
      padding: 10px 0 10px 0; }
    .blog-archive-item blockquote cite {
      color: #99918E; }

.post-meta {
  display: inline-block;
  margin-top: 20px; }

.previous-post {
  float: left; }

.next-post {
  float: right; }

.blog-image {
  padding: 15px;
  border: 1px solid #c2c2c9;
  margin-bottom: 20px; }

.post-info {
  display: block;
  clear: both;
  margin-bottom: 0.5em;
  font-weight: 200;
  font-style: italic;
  color: #ccc; }

.blog-snippet {
  margin-bottom: 2em; }

/* ------------------------------------------ *CONTACT FORM
\*------------------------------------------- */
.wpcf7 form {
  text-align: left;
  padding-right: 2em; }
  .wpcf7 form label {
    display: block;
    font-weight: bold;
    width: 100%; }
  .wpcf7 form input, .wpcf7 form select, .wpcf7 form textarea {
    padding: 5px;
    width: 60%; }
  .wpcf7 form textarea {
    width: 100%;
    height: 150px;
    display: block; }
  .wpcf7 form input[type="submit"] {
    border-radius: 10px;
    border: 1px sold #999999;
    width: 25%; }
  .wpcf7 form input[type="submit"]:hover {
    border: 2px solid #cfcfcf; }

.wpcf7 div {
  margin: 15px 0; }

@media screen and (max-width: 720px) {
  .wpcf7 form div,
  .wpcf7 form label,
  .wpcf7 form input,
  .wpcf7 form select,
  .wpcf7 form textarea,
  .wpcf7 form input[type="submit"] {
    width: 100%; } }

/* ------------------------------------------ *ELEMENT STYLINGS
\*------------------------------------------- */
.post-readmore {
  margin-top: 15px;
  overflow: visible; }

.button-blue {
  color: #fff;
  background-color: #27afef;
  border-color: #1095d3; }

.button-blue:visited,
.button-blue:link {
  color: #fff;
  background-color: #27afef; }

.button-blue:hover {
  color: #fff;
  background-color: #27afef;
  border-color: #86d2f6; }

.button-wrap {
  margin: 1em 0; }

/* ------------------------------------------ *FOOTER
\*------------------------------------------- */
footer {
  color: #fff;
  background-color: #2B2B2B;
  width: 100%;
  min-height: 50px;
  overflow: hidden;
  padding: 10px 0 10px 0; }
  footer li {
    display: inline-block;
    margin: 0 10px; }
  footer .FAageSocialIcons {
    float: right; }
    footer .FAageSocialIcons ul {
      margin: 0; }
  footer #footer-text {
    float: left;
    margin-top: 0.5em; }
    footer #footer-text div {
      display: inline-block; }

@media screen and (max-width: 720px) {
  footer #footer-text div {
    display: block; } }

@media screen and (max-width: 550px) {
  footer li {
    margin-left: 0; }
  footer .FAageSocialIcons {
    float: left; }
    footer .FAageSocialIcons ul {
      margin: 10px 0; }
    footer .FAageSocialIcons ul:first-child {
      padding-left: 0; }
  footer #footer-text {
    float: left; }
    footer #footer-text div {
      display: inline-block; } }

/* ------------------------------------------ *MISC
\*------------------------------------------- */
.FAageSocialIcons a {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  line-height: 40px; }

.FAageSocialIcons ul {
  margin-left: 0; }
  .FAageSocialIcons ul li {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    transition: background-color 0.7s ease;
    background-color: #C1C0C0;
    border-radius: 3px; }

.twitter:hover {
  transition: background-color 0.5s ease;
  background-color: #00aced; }

.github:hover {
  transition: background-color 0.5s ease;
  background-color: #000; }

.googlePlus:hover {
  transition: background-color 0.5s ease;
  background-color: #d34836; }

.linkedIn:hover {
  transition: background-color 0.5s ease;
  background-color: #0e76a8; }

.forceLink a {
  padding: auto; }

.blog-post h1 {
  margin-bottom: 5px; }

.micro-about img {
  float: left;
  border-radius: 45px;
  margin-right: 20px; }

.column.micro-about {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 1.5em;
  margin-bottom: 1em; }
  .column.micro-about:after {
    clear: both; }
  .column.micro-about p {
    margin-bottom: 0; }

.pagination {
  max-width: 400px;
  margin: 0 auto; }
  .pagination:after {
    clear: both;
    margin-bottom: 20px; }
  .pagination .previous-post {
    float: left; }
  .pagination .next-post {
    float: right; }

.content {
  overflow: inherit; }

.blog-item-wrap {
  display: block; }
  .blog-item-wrap h2 {
    margin-bottom: 10px; }

.blog-content img {
  float: right; }

.sd-title {
  display: none; }

@media screen and (max-width: 720px) {
  .blog-content img {
    float: none; } }

.post-tag {
  font-family: Helvetica, Arial, sans-serif;
  background: #588fe5;
  display: inline-block;
  color: #fff;
  position: relative;
  padding: 7px 14px;
  border-radius: 4px;
  margin: 0 0 0 15px;
  cursor: auto; }

.post-tag:hover:after {
  border-color: transparent transparent transparent #739fe4; }

li a.social-icon,
a#pull {
  font-family: FontAwesome; }

a.social-github:before {
  content: "\f09b"; }

a.social-twitter:before {
  content: "\f099"; }

a.social-google:before {
  content: "\f0d5"; }

a.social-linkedin:before {
  content: "\f0e1"; }

a#pull:before {
  content: "\f0c9";
  font-size: 3em; }

@media screen and (max-width: 720px) {
  .post-tag {
    margin-bottom: 9px; } }

.home-blog {
  margin-bottom: 30px; }
  .home-blog img {
    max-width: 140px;
    float: right;
    margin-left: 15px; }

pre code {
  border: 1px solid #CEA5EE;
  border-left: none;
  margin-left: 0;
  background-color: white; }

/* ------------------------------------------ *PORTFOLIO
\*------------------------------------------- */
.portfolioItem {
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 6px;
  width: 32.7%;
  display: inline-block;
  position: relative;
  overflow: hidden; }
  .portfolioItem .mask {
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0); }
  .portfolioItem img {
    transition: all 0.4s ease-in-out; }
  .portfolioItem:hover img {
    transform: scale(1.1, 1.1);
    transition: all 0.4s ease-in-out; }
  .portfolioItem:hover .portfolio-overlay a {
    color: #FAF303;
    transition: all 0.4s ease-in-out; }
  .portfolioItem:hover .portfolio-overlay {
    background-color: #7D30B8;
    transition: all 0.4s ease-in-out; }
  .portfolioItem .portfolio-overlay {
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    height: 35px;
    background: #9b4dca;
    text-align: center;
    text-transform: uppercase;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all 0.4s ease-in-out; }
    .portfolioItem .portfolio-overlay a {
      color: #FFFCAB;
      margin-top: 5px;
      position: absolute;
      left: 0;
      right: 0;
      transition: all 0.4s ease-in-out; }

@media screen and (max-width: 720px) {
  .portfolioItem {
    width: 49%; } }

@media screen and (max-width: 450px) {
  .portfolioItem {
    width: 100%; } }

@media screen and (min-width: 721px) {
  .home #mixPortfolio .mix:nth-of-type(3n) {
    display: none; } }

.home #mixPortfolio .mix {
  display: inline-block; }

.home #mixPortfolio {
  min-height: auto; }

#mixPortfolio {
  min-height: 1200px;
  overflow: visible; }
  #mixPortfolio .mix {
    display: none; }
  #mixPortfolio .slider {
    margin: 10px auto;
    max-width: 700px;
    /* Update to your slider width */
    height: 560px;
    /* Update to your slider height */
    position: relative;
    overflow: hidden; }
    #mixPortfolio .slider ul {
      margin: 0 auto; }
    #mixPortfolio .slider li {
      display: none;
      position: absolute;
      top: 0;
      left: 0; }

@media screen and (max-width: 720px) {
  #mixPortfolio {
    min-height: 1800px; } }

@media screen and (max-width: 450px) {
  #mixPortfolio {
    min-height: 3400px; } }

.skills-tools ul, .front-page-bio ul {
  padding-left: 0; }

.skills-tools li, .front-page-bio li {
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px 5px 0;
  background-color: #d8c5e7;
  border-radius: 3px; }

.portfolioSide {
  margin-top: 20px; }

.filterList {
  padding-left: 0; }
  .filterList li {
    display: inline-block;
    padding: 5px 10px;
    width: auto;
    cursor: pointer;
    border-radius: 3px; }
  .filterList li:hover {
    background: #e7e2eb;
    border-bottom: none; }
  .filterList li.active {
    background: #d8c5e7;
    border-bottom: none; }

@media screen and (max-width: 40rem) {
  .row div.column.column-75,
  .row div.column.column-66 {
    max-width: 100%; } }
