
/* ------------------------------------------ *\
HEADER & NAVIGATION
\*------------------------------------------- */

header {
  margin-top: 10px;
}

.activeLink,
.current-menu-item > a,
.current-menu-ancestor > a,
.current_page_parent > a,
.current_page_item > a,
.current_page_ancestor > a,
body.post-type-archive-portfolio nav ul li#menu-item-124 > a,
body.single-portfolio nav ul li#menu-item-124 > a {
  border-bottom: 2px solid $mainOrange;
}

.menu-menu-1-container a:link{ transition: all 0.2s ease; }

.menu-menu-1-container a:hover,
body.post-type-archive-portfolio nav ul li#menu-item- > a:hover,
body.single-portfolio nav ul li#menu-item-21 > a:hover{
  border-bottom: 5px solid $mainPurple;
  transition: all 0.2s ease;
}

.menu-menu-1-container a:active{ 
  border-bottom: 5px solid #f39c12; 
}

body.single-portfolio nav ul li#menu-item-21 > a,
body.post-type-archive-portfolio nav ul li#menu-item-21 > a{
  border-bottom: 0;
}

nav {
  float: right;
  margin-top: 35px;
  z-index: 999;

  #menu-menu-1 a{
    padding: 10px 15px;
    color: #555;
  }

  li { display: inline-block; }
}

#toggle-menu {
  display: none;
  z-index: 1;
}

.menu { 
	display: block;
}

.small-screen-nav { display: inherit; }

@media screen and (max-width: 720px) {

  #toggle-menu {
    display: inherit;
    margin-top: -60px;

    li {
      float: right;
      list-style-type: none;
    }

    li:after{
      clear: both;
    }

    ul { width: 40px;

      li {
        float: right;
        width: 50px;
        background-color: #fff;
      }
    }
  }
  .menu { 
  	display: none;

    li {
      width: 50%;
      float: left;
      position: relative;
      min-height: 40px;
      background-color: $mainBlue;
      text-align: center;
      padding-top: 10px
    }

    a {
      width: 100%;
      padding: 0px;
      color: #fff;
    }
  }

  nav {
    margin-top: 35px;
    height: auto;
    position: absolute;
    background-color: $mainBlue;

    ul {
      margin-bottom: 0;
      display: list-item;
      width: 100%;
      height: auto;
      background-color: $mainBlue;
      z-index: 10;
    }
  }
}

@media screen and (max-width: 720px) { 
  nav {
    #menu-menu-1 a:link,
    #menu-menu-1 a:visited,
    #menu-menu-1 a:hover,
    #menu-menu-1 a:active {
      color: #fff;
    }

    ul li:nth-of-type(5n) {
      width: 100%;
    }
  }
}

@media screen and (max-width: 340px) {
  #logoImage{
    width:200px !important;
  }

  .menu li {
    width: 100%;
  }
}
