/* ------------------------------------------ *\
PORTFOLIO
\*------------------------------------------- */

.portfolioItem {
  margin-bottom: 20px;
  padding:8px;
  border-radius: 6px;
  border: 1px solid #696a6b;
}

#mixPortfolio {
  min-height: 700px;
}

.skills-tools ul, .front-page-bio ul{ padding-left: 0; }

.skills-tools li, .front-page-bio li{
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px 5px 0;
  background-color: #d8c5e7;
  border-radius: 3px;
}

.portfolioSide{ margin-top: 20px; }

.filterList{ padding-left: 0;

  li{
    display: inline-block;
    padding: 5px 10px;
    width: auto;
    cursor: pointer;
    border-radius: 3px;
  }
  li:hover {
    background: #e7e2eb;
    border-bottom: none;
  }
  li.active {
    background: #d8c5e7;
    border-bottom: none;
  }
}

#mixPortfolio .mix{ display: none; }

@media screen and (max-width: 720px) {
}

.slider {
  margin: 10px auto;
  max-width: 700px; /* Update to your slider width */
  height: 560px; /* Update to your slider height */
  position: relative;
  overflow: hidden;

  ul{
    margin: 0 auto;
  }

  li {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}
