/* ------------------------------------------ *\
PORTFOLIO
\*------------------------------------------- */

.portfolioItem {
    margin-bottom: 20px;
    padding:8px;
    border-radius: 6px;
    width: 32.7%;
    display: inline-block;
    position: relative;
    overflow: hidden;

    .mask {
      overflow: hidden;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      z-index: 1;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
    }

    img {
      transition: all 0.4s ease-in-out;
    }

    &:hover img {
      transform: scale(1.1,1.1);
      transition: all 0.4s ease-in-out;

    }

    &:hover .portfolio-overlay a {
      color: $darkYellow;
      transition: all 0.4s ease-in-out;
    }

    &:hover .portfolio-overlay {
      background-color: $darkPurple;
      transition: all 0.4s ease-in-out;
    }

    .portfolio-overlay{
        position: absolute;
        bottom: 0;
        left: 8px;
        right: 8px;
        height: 35px;
        background: $mainPurple;
        text-align: center;
        text-transform: uppercase;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        transition: all 0.4s ease-in-out;
        
        a {
          color: $lightYellow;
          margin-top: 5px;
          position: absolute;
          left: 0;
          right: 0;
          transition: all 0.4s ease-in-out;
        }
    }
}

@media screen and (max-width: 720px) {
  .portfolioItem {
    width: 49%;
  }
}

@media screen and (max-width: 450px) {
  .portfolioItem {
    width: 100%;
  }
}

@media screen and (min-width: 721px) {
  .home #mixPortfolio .mix:nth-of-type(3n) {
    display: none;
  }
}

.home #mixPortfolio .mix {
  display: inline-block;
}

.home #mixPortfolio {
  min-height: auto;
}

#mixPortfolio {
  min-height: 1200px;
  overflow: visible;

  .mix{ 
    display: none; 
  }

  .slider {
    margin: 10px auto;
    max-width: 700px; /* Update to your slider width */
    height: 560px; /* Update to your slider height */
    position: relative;
    overflow: hidden;

    ul{
      margin: 0 auto;
    }

    li {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@media screen and (max-width: 720px) {
  #mixPortfolio {
    min-height: 1800px;
  }
}

@media screen and (max-width: 450px) {
  #mixPortfolio {
    min-height: 3400px;
  }
}

.skills-tools ul, .front-page-bio ul{ padding-left: 0; }

.skills-tools li, .front-page-bio li{
  display: inline-block;
  padding: 5px 15px;
  margin: 0 5px 5px 0;
  background-color: #d8c5e7;
  border-radius: 3px;
}

.portfolioSide{ margin-top: 20px; }

.filterList{ padding-left: 0;

  li{
    display: inline-block;
    padding: 5px 10px;
    width: auto;
    cursor: pointer;
    border-radius: 3px;
  }
  li:hover {
    background: #e7e2eb;
    border-bottom: none;
  }
  li.active {
    background: #d8c5e7;
    border-bottom: none;
  }
}


