/* ------------------------------------------ *\
TYPOGRAPHY
Works off the assumption of a 1.5 line height @ 20px.
\*------------------------------------------- */

body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco","Oxygen", "Ubuntu", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


