/*-----------------------------------*\
    RESET
\*-----------------------------------*/


* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


/*-----------------------------------*\
    GRID
\*-----------------------------------*/


.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
	padding: 0 1.5rem;
}

.grid {
	margin-left: -3%;
	max-width: 105%;
}

.unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 3%;
	margin-right: -.25em;
	/* Clearfix */
	overflow: hidden;
	*overflow: visible;
}

.full-width { width: 97%;}

.one-of-two { width: 47%; }

.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }

.one-of-four { width: 22.05%; }
.three-of-four { width: 72%; }

.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }

@media screen and (max-width: 650px) {
	.grid {
		margin-left: 0;
		max-width: none;
	}

	.unit {
		width: auto;
		margin-left: 0;
		display: block;
	}
}


/* ------------------------------------------ *\
    TYPOGRAPHY
    Works off the assumption of a 1.5 line height @ 20px. Again, change	as necessary.
\*------------------------------------------- */


p, .p, ul, ol, hr, table, form, pre,
h1, .alpha, h2 {
	margin-bottom: 30px;
	margin-bottom: 1.5rem;
}

h1, .alpha {
	font-size: 60px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1;
}

h2, .beta {
	font-size: 30px;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2;
}

h3, .gamma {
	font-size: 20px;
	font-size: 1rem;
	font-weight: 700;
}

hr {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-top: -1px;
}


/* ------------------------------------------ *\
    MAIN
\*------------------------------------------- */


html {
	font: 100%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 650px) {
	
}


/* ------------------------------------------ *\
    HEADER & NAVIGATION
\*------------------------------------------- */


header{
    margin-top: 10px;
}

header a{
    text-decoration: none;
    padding: 10px 15px;
    color: #555;
}

.active{
    border-bottom: 2px solid #fcbf32;
}

nav {
    float: right;
    margin-top: 50px;
}

nav ul {
    
}

nav li {
    display: inline-block;
}

.toggle-menu {
    display: none;
    z-index: 1;
}


@media screen and (max-width: 650px) {
	
    .toggle-menu {
        display: inherit;
        float: right;
    }
    
    .menu {
        display: none;   
    }

}

@media screen and (min-width: 651px) {
    
    .menu {
        display: inherit;   
    }

}



/* ------------------------------------------ *\
    Content
\*------------------------------------------- */


.in-your-face {
    text-align: center;
    color: #333;
    overflow: visible;
}


/* ------------------------------------------ *\
    ELEMENT STYLINGS
\*------------------------------------------- */


.button{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #27afef;
    padding: 10px 20px;
}



/* ------------------------------------------ *\
    Footer
\*------------------------------------------- */


footer{
    color:#fff;
    background-color:#2B2B2B;
    width:100%;
    margin-top:50px;
    min-height: 50px;
    overflow: hidden;
    padding: 10px 0;
}

footer li {
    display: inline-block;
    margin: 0 10px;
}

.social-links{
    display: inline-block;
    float:right; 
}



